/*#cc9d72 #bb6a4e #7e4450 #240706*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #cc9d72;
    font-family: "Open Sans", sans-serif;
    color: #240706;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.baniere {
    padding: 20px 0 0 0;
    /*background-color: #bb6a4e;*/
    box-shadow:  0 2px 10px rgba(0,0,0,0.3);  

    background: rgb(255,207,0);
    background: linear-gradient(90deg, rgba(255,207,0,1) 1%, rgba(121,9,9,1) 61%, rgba(2,0,36,1) 100%);
}

.baniere h1 {
    display: block;
    font-size: 2.8em;
    padding-left: 60px;
}

.menuPrincipal {
    display: flex;
    flex-flow: row nowrap;
}

.boutons_menuP {
    border: 2px #864834 solid;
    background-color: #864834;
    cursor: pointer;
    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    margin: 10px -1px 0 0;
}

.boutons_menuP:hover {
    background-color: #a7583d;
    border-color: #a7583d;
}

.menuAliments {
    position: absolute;
    width: 20vw;
    transform: translateX(-150%);
    transition: transform 500ms;
    /*background-color: #7e4450;*/
    background: rgb(133,72,27);
    background: linear-gradient(0deg, rgba(133,72,27,1) 0%, rgba(131,58,20,1) 15%, rgba(153,45,16,1) 27%, rgba(255,225,37,1) 100%);
    box-shadow:  0 2px 10px rgba(0,0,0,0.3); 
    height: 100%;
}

.contenuPrincipal {
    position: absolute;
    padding: 30px 10%;
    width: 100vw;
    transition: transform 500ms, width 500ms;
}

.menuAliments.visible {
    transform: translateX(0);
}

.contenuPrincipal.menu-visible {
    transform: translateX(20vw);
    width: 80vw;
}

.menuAliments nav div {
    width: 100%;
    text-align: left;
    padding-left: 17%;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 5px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.menuAliments nav div:first-of-type {
    margin-top: 30px;
}

.menuAliments nav div:hover {
    background-color: #9c5563;
}

.parent {
    padding: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
}

.parent em:hover {
    cursor: pointer;
}

.parent em:hover {
    text-decoration: underline;
}

.recette {
    position: relative;
    padding: 20px;
    margin: 0 0 40px 0;
    background-color: #c07e27;
    box-shadow:  0 2px 10px rgba(0,0,0,0.3);  
}

.titreRecette {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.5em;
}

.imageBoisson{
    height: 150px;
    width: auto;
    text-align: center;
    margin: auto;
    display: flex;
    border: 2px #864834 solid;
    border-radius: 10px;

    margin-top: 50px;
    margin-bottom: 50px;
}

.listeIngredients{
    padding: 13px;
}

.ajouterFavoris {
    background-color: #bb6a4e;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 12px 0 0 0;
    box-shadow:  3px 0 8px rgba(0,0,0,0.3);
    position: absolute;
    left: 100%;
    top: 0%;
    transition: background-color 200ms, box-shadow 200ms;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.ajouterFavoris:hover {
    background-color: #7e4836;
    box-shadow:  3px 0 3px rgba(0,0,0,0.3);
}

.ajouterFavoris:active {
    background-color: #7e4836;
    box-shadow:  3px 0 3px rgba(0,0,0,0.3);
}

.utilisateur_co {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 1.3em;
    padding: 10px;
    border: 2px black solid;
    border-radius: 20px;
}

.contenant_compte {
    width: 600px;
    margin: auto;
    padding: 30px;
    background-color: #c07e27;
    box-shadow:  0 2px 10px rgba(0,0,0,0.3);
    text-align: center;
}

.contenant_compte  td {
    text-align: left;
}

.contenant_compte .bouton {
    font-size: 1.4em;
    border: 2px #7e4450 solid;
    background-color: #7e4450;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    box-shadow:  0 2px 10px rgba(0,0,0,0.3);
    cursor: pointer;
}

.contenant_compte .bouton:hover {
    box-shadow:  0 0 0 rgba(0,0,0,0.3);
    border-color: #5c2a34;
    background-color: #5c2a34;
} 

.contenant_compte .infos_compte {
    font-size: 1.3em;
    border-collapse: collapse;
}

.contenant_compte .titre {
    display: block;
    font-weight: bold;
    padding: 10px 30px 10px 10px;
}

.contenant_compte .valeur {
    padding-left: 30px;
}

.contenant_compte h1 {
    display: block;
    margin-bottom: 50px;
    font-size: 2em;

}

.instant-search {
    position: relative;
    max-width: 300px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.instant-search__input-container {
    padding: 10px;
<<<<<<< HEAD
}

.intro {
    text-align: center;
}

.gg-math-plus {
    position: absolute;
    top: 30%;
    left: 30%;
=======
    padding-top: 30px;
}

.instant-search__input {
    font-family: sans-serif;
}

.instant-search,
.instant-search__input-container {
    border-radius: 5px;
}


.instant-search,
.instant-search * {
    transition: background 0.15s, box-shadow 0.15s;
}

.instant-search:focus-within {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.instant-search__input-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    background: #ca9564;
}

.instant-search__input-container:focus-within {
    background: #eeeeee;
}

.instant-search__input {
    flex-grow: 1;
    border: none;
    outline: none;
    width: 100%;
    padding: 0 6px;
    background: transparent;
>>>>>>> 10d9675a299f77d7ea937931b25e42a421e7398a
}