* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    border: 2px black solid;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.menuPrincipal ul {
    display: flex;
    justify-content: space-around;
}

.menuAliments {
    position: absolute;
    margin: auto;
    width: 20vw;
    padding-left: 0;
    transform: translateX(-150%);
    transition: transform 500ms;
    background-color: rgb(28, 31, 212);
    overflow-wrap: break-word;
    hyphens: auto;
}

.contenuPrincipal {
    position: absolute;
    margin: 0 auto;
    padding: 30px 20%;
    border: 2px rgb(30, 173, 37) solid;
    transform: translateX(0%);
    transition: transform 500ms;
    height: 100%;
}

.openMenu {
    cursor: pointer;
}

.subCategories{
    cursor: pointer;
}

.menuAliments.invisible {
    transform: translateX(0);
}

.contenuPrincipal.menu-visible {
    transform: translateX(100%);
}
