/*#cc9d72 #bb6a4e #7e4450 #240706*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #cc9d72;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

button {
    display: block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #7e4450;
    border: 1px solid #7e4450;
    border-radius: 5px;
    color: #fff;
}

button:hover {
    background-color: #6e2c39;
    border: 1px solid #6e2c39;
}

.contenant {
    background-color: #c5976c;
    border-radius: 5px;
    box-shadow:  0 2px 10px rgba(0,0,0,0.3);
    width: 600px;
    padding: 30px 40px;
}

.contenant h1 {
    text-align: center;
    margin: 0 0 10px;
    font-size: 24px;
}

.input input {
    width: 100%;
    height: 30px;
    padding: 0 15px;
    background-color: transparent;
    border: 2px solid #a1754c;
    border-radius: 5px;
}

.input {
    margin-bottom: 10px;
    position: relative;
}

.input label {
    display: block;
    margin-bottom: 10px;
}

.input small {
    visibility: hidden;
    display: blocl;
    color: #e74c3c;
    font-weight: bold;
    font-size: 11px;
    padding-top: 3px;
}

.input.success input {
    border: 2px solid #2ecc71;
}


.input.error input {
    border: 2px solid #e74c3c;
}

.input.error small {
    visibility: visible;
}
.input.success small {
    visibility: hidden;
}

.gg-close {
    box-sizing: border-box;
    position: absolute;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px;
    transition: transform 150ms;
    left: 98%;
    bottom: 10px;
}

.gg-close:hover {
    transform: scale(1.7);
}

.sexe {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 10px;
}

input[type='radio'] {
    margin: 5px;
    cursor: pointer;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #e4b385;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #a1754c;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #7e4450;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #a1754c;
}

.input.ville_cp {
    display:flex;
}

.code_postal {
    margin: 0 10px 0 0;
    flex: 1;
}

.ville {
    flex:2;
}