* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cc9d72;
    font-family: "Open Sans", sans-serif;
    color: #240706;
}

.contenant {
    position: absolute;
    padding: 30px 10%;
    width: 100vw;
}

.recette {
    padding: 20px;
    margin: 0 0 40px 0;
    background-color: #c07e27;
    box-shadow:  0 2px 10px rgba(0,0,0,0.3);  
}

.recette .titre {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.5em;
}

.recette .ingredients {
    padding: 13px;
}

body h1 {
    display: block;
    border: 2px #bb6a4e solid;
    text-align: center;
    padding: 20px 0 20px 0;
    box-shadow:  0 2px 10px rgba(0,0,0,0.3); 
    background-color: #bb6a4e;
}
