body {
    margin: 0;
    padding: 0;
    background-color: #cc9d72;
    font-family: "Open Sans", sans-serif;
    color: #240706;
}

.recetteFavorite{
    padding-bottom: 20px;
    background-color: #c07e27;
}